*,
*::before,
*::after {
  box-sizing: border-box;

}

body {
  text-align: center;
}

html {
  background-image: url(bg.png);
  min-height: 100%;
  background-size: cover;
} 

h1 {
  font-family: Akzidenz-Grotesk Pro Bold Ext;
  font-size: 57.33px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.48) 100%);
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 8px;
  margin-bottom: 8px;
}

small {
  color: white;
  font-size: 11.11px;
  letter-spacing: 0.15em;
  font-family: Akzidenz-Grotesk Pro Med;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255, 0.24) 50%, rgba(255, 255, 255, 0.16) 100%);
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  font-family: Akzidenz-Grotesk Pro Med;
  font-size: 16px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0.48) 50%, rgba(255, 255, 255, 0.24) 100%);
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0px;
  margin-bottom: 32px;
}

a {
  color: white;
  font-size: 16px;
  font-family: Akzidenz-Grotesk Pro Med;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.48) 100%);
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 16px 32px;
}

.button:hover {
  transform: scale(1.08);
  transition: 0.32s;
}

.button {
  background: red;
  display: inline-block;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  transition: 0.72s;
}

.center1 {
  margin: 30% 0%;
}

html.dark-theme {
  background-image: url(bf.png);
  min-height: 100%;
  background-size: cover;
} 
